.footerSection {
  background-color: #ffffff;
  color: #000000;
  padding: 0.8rem 0.8rem; // Reduced padding height
  margin-top: 50px;
}

.footerInnerContainer {
  background-color: #155993;
  border-radius: 10px;
  padding: 3rem;
  max-width: 1350px;
  margin: 0 auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.footerLeft {
  flex: 1;
  min-width: 220px;

  .logoImage {
  width: 140px;
  height: auto;
  margin-bottom: 1rem;
}


  .tagline {
    margin: 1rem 0;
    font-size: 0.9rem;
    color: #333;
  }

  .socialIcons {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;

    svg {
      cursor: pointer;
      color: #ffffff;
      transition: 0.3s;
      font-size: 1.2rem;

      &:hover {
        color: #007bff;
        font-size: 1.8rem;
      }
    }
  }
}


.footerLinks {
  flex: 1;
  display: flex;
  gap: 8rem;
  min-width: 220px;
  margin-left: 100px;

  h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #000;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 0.5rem;
      color: #ffffff;
      font-size: 1rem;


      &:hover {
        color: #fc8d8d;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
.footerRight {
  flex: 1;
  min-width: 220px;
  margin-left: 100px;

  h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #000;
  }

  .whatsappBtn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: #25d366;
    color: #fff;
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;

    svg {
      font-size: 1.2rem;
    }

    &:hover {
      background: #66ca8e;
    }
  }
}

.footerCopyright {
  text-align: center;
  margin-top: 2rem;

  .footerLine {
    height: 1px;
    background-color: #ccc;
    width: 80%;
    margin: 0 auto 1rem auto;
  }

  p {
    font-size: 0.9rem;
    color: #9bdefd;
    margin: 0;
  }
}