.header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  pointer-events: none;
}

.headder {
  position: fixed;
  z-index: 1000;
  width: 850px;
  margin-left: 280px;
}

.nav {
  pointer-events: auto;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 58px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background: #ebebebe5;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  width: 100%;
  max-width: 1200px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  margin-top: 15px;
  margin-left: 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 90px;
    height: 90px;
    object-fit: contain;
  }
}
}


.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 1rem 2rem;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 700;

  li a {
    color: white;
    text-decoration: none;
    transition: 0.3s ease;

    &:hover {
      color: #00d0ff;
    }
  }
}
